{{! ./views/profile.hbs }}

<h1>Mi perfil</h1>

{{currentUser.username}}

<p>Mensage: {{currentUser.msg}}</p>

<p>Tu usuario: {{currentUser.username}}</p>

<p>Tu email: {{currentUser.email}}</p>

<a href=""></a>